<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select [multiple]="multiple">
    <mat-select-trigger *ngIf="multiple">
      <mat-chip-row
        *ngFor="let option of selectedOptions"
        [disableRipple]="true"
        (removed)="remove(option)"
      >
        {{ option.label }}
        <button matChipRemove [attr.aria-label]="'Remove ' + option.label">
          <svg
            viewBox="0 96 960 960"
            width="24px"
            height="24px"
            focusable="false"
          >
            <path
              d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
            />
          </svg>
        </button>
      </mat-chip-row>
    </mat-select-trigger>
    <div class="mat-mdc-text-field-wrapper mdc-text-field">
      <input matInput type="text" [(ngModel)]="searchValue" />
    </div>
    <div class="w-full my-2">
      <mat-divider></mat-divider>
    </div>
    <ng-container *ngIf="multiple && !hideSelectAll">
      <mat-select-all
        [state]="optionSelectionState"
        (selectedChange)="onSelectAll($event)"
      >
      </mat-select-all>
      <div class="w-full my-2">
        <mat-divider></mat-divider>
      </div>
    </ng-container>
    <mat-option *ngIf="noData" [disabled]="true">
      <div>No options</div>
    </mat-option>
    <mat-option
      *ngFor="let option of options"
      [value]="option.value"
      [(selected)]="option.selected"
    >
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
