<!-- <div class="container flex flex-col gap-4 p-4"> -->
<!-- <mat-form-field class="no-validation w-52 px-4 mb-2 h-16">
    <mat-label>Search Dropdown</mat-label>
    <search-dropdown-select
      [formControl]="control"
    ></search-dropdown-select>
  </mat-form-field> -->
<!-- <mat-form-field class="no-validation w-52 px-4 mb-2 h-16">
    <mat-label>Search Dropdown</mat-label>
    <search-dropdown-select
      [formControl]="control"
      [options]="options"
    ></search-dropdown-select>
  </mat-form-field> -->
<!-- <mat-form-field class="no-validation w-52 px-4 mb-2 h-16">
    <mat-label>Search Dropdown</mat-label>
    <search-dropdown-select
      [formControl]="control"
      [options]="options"
      [request]="request"
    ></search-dropdown-select>
  </mat-form-field> -->

<!-- <mat-form-field>
    <mat-label>Search Dropdown</mat-label>
    <search-dropdown-select-legacy
      [formControl]="control"
      [options]="options"
      [request]="request"
      [multiple]="true"
    ></search-dropdown-select-legacy>
  </mat-form-field> -->
<!-- <mat-form-field> -->

<!-- <search-dropdown-select [multiple]="multiple" [options]="options"></search-dropdown-select> -->
<!-- </mat-form-field> -->
<!-- </div> -->
