<span
  type="button"
  class="w-full truncate"
  [attr.aria-describedby]="describedBy"
  [attr.aria-labelledby]="parentFormField.getLabelId()"
  [matTooltip]="getTitleLabel(value)"
  (click)="isOpen = true"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <div *ngIf="multiple">
    <mat-chip-row *ngFor="let v of $any(value)" (removed)="remove(v.value)">
      {{ v.label }}
      <button matChipRemove [attr.aria-label]="'Remove ' + v.label">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
  </div>
  <span *ngIf="!multiple">{{ getTitleLabel(value) }}</span>
</span>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="bg-transparent"
  (backdropClick)="isOpen = false"
  (attach)="onOptionListOpened()"
>
  <mat-card class="max-h-80 overflow-auto" #optionList>
    <mat-form-field>
      <input
        matInput
        [formControl]="searchControl"
        (keyup)="searchValueChange()"
      />
    </mat-form-field>
    <div class="w-full my-2">
      <mat-divider></mat-divider>
    </div>
    <ng-container *ngIf="multiple">
      <ng-container *ngIf="hasSelectAll">
        <mat-checkbox
          (change)="onSelectAll($event)"
          [checked]="getAllSelected()"
          [indeterminate]="!getAllSelected() && getSomeSelected()"
          color="primary"
        >
          Select all
        </mat-checkbox>
        <div class="w-full my-2">
          <mat-divider></mat-divider>
        </div>
      </ng-container>
      <mat-option *ngIf="!isLoading && noData" [disabled]="true">
        <div>No options</div>
      </mat-option>
      <span *ngIf="hasLocalAndAsyncOptions">Local</span>
      <ng-container *ngFor="let option of localDropdownOptions">
        <mat-checkbox
          color="primary"
          [checked]="!!option.selected"
          (change)="onSelectedOptionChange(option)"
        >
          {{ option.label }}
        </mat-checkbox>
      </ng-container>
      <span *ngIf="hasLocalAndAsyncOptions">Async</span>
      <ng-container *ngFor="let option of asyncDropdownOptions">
        <mat-checkbox
          color="primary"
          [checked]="!!option.selected"
          (change)="onSelectedOptionChange(option)"
        >
          {{ option.label }}
        </mat-checkbox>
      </ng-container>
      <mat-option
        *ngIf="isLoading && !asyncDropdownOptions.length"
        [disabled]="true"
      >
        <mat-spinner
          *ngIf="isLoading"
          class="m-auto"
          [diameter]="20"
        ></mat-spinner>
      </mat-option>
      <mat-option *ngIf="!isLoading && failed" [disabled]="true">
        <div>Failed loading</div>
      </mat-option>
    </ng-container>
    <ng-container *ngIf="!multiple">
      <span *ngIf="hasLocalAndAsyncOptions">Local</span>
      <mat-option
        *ngFor="let option of localDropdownOptions"
        (click)="setValue(option)"
      >
        {{ option.label }}
      </mat-option>
      <span *ngIf="hasLocalAndAsyncOptions">Async</span>
      <mat-option
        *ngFor="let option of asyncDropdownOptions"
        (click)="setValue(option)"
      >
        {{ option.label }}
      </mat-option>
      <mat-option
        *ngIf="isLoading && !asyncDropdownOptions.length"
        [disabled]="true"
      >
        <mat-spinner
          *ngIf="isLoading"
          class="m-auto"
          [diameter]="20"
        ></mat-spinner>
      </mat-option>
      <mat-option *ngIf="!isLoading && failed" [disabled]="true">
        <div>Failed loading</div>
      </mat-option>
      <ng-container *ngIf="!isLoading && !noData">
        <mat-option
          *ngFor="let option of dropdownOptions"
          (click)="setValue(option)"
        >
          {{ option.label }}
        </mat-option>
      </ng-container>
    </ng-container>
  </mat-card>
</ng-template>
